<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="height: 5vh;">
    <button (click)="toggleAbout()" class="btn">sobre</button>
  </div>
  <br>
  <div *ngIf="showAboutInfo">  
    <div class="row">
      <div class="col-lg-3 col-md-4 col-6 order-1 order-lg-0">
        <p>Turma: <span class="turma">ADS0304N</span></p>
        <p>Turno: <span class="turno">Noite</span></p>
        <p>Unidade: <span class="unidade">Bonsucesso</span></p>
      </div>
      <div class="col-lg-1 col-md-1 col-2 col-6 order-2 order-lg-0">
        <img src="assets/img/WhatsApp Image 2024-04-27 at 12.25.22.jpeg" class="img-fluid" alt="Foto"/>
      </div>
      <div class="col-lg-2 offset-lg-6 col-md-3 offset-md-4 col-4 offset-2 col-12 order-3 order-lg-0">
        <p>
          Nome: <span class="nome">Johnathan Santos de Souza</span>
        </p>
      </div>
    </div>
  </div>
</div>
