img{
  max-width: 100px;
}

p{
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

button{
  background-color: rgb(197, 163, 10);
  color: rgb(0, 0, 0);
  
}

button:hover{
  background-color: yellow;
  color: black;
  transition: 1.5s;
}

#content-3 {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
